@use "../common/variables.scss";

.main__promotion {
  margin: 24px 0 48px;

  @media (min-width: variables.$tablet-width) {
    margin: 36px 0 72px;
  }

  @media (min-width: variables.$desktop-width) {
    margin: 36px 0 96px;
  }
}
